Exercise 1: Use for, .split(), and if to create a Statement that will print out words that start with 's':

In [17]:
st = 'Print only the words that start with s in this sentence'
split_strings = st.split()
for word in split_strings:
    if word[0] == 's':
        print(word)

start
s
sentence

Exercise 2: Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [14]:
for i in range(1, 101):
    if( i%3 == 0 and i%5 == 0):
        print("FizzBuzz")
    elif(i&5 == 0):
        print("Buzz")
    elif(i%3 == 0):
        print("Fizz")
    else:
        print(i)

1
Buzz
Fizz
4
5
Fizz
7
Buzz
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
Buzz
17
Buzz
19
20
Fizz
22
23
Buzz
25
Buzz
Fizz
28
29
FizzBuzz
31
Buzz
Fizz
Buzz
35
Fizz
37
38
Fizz
Buzz
41
Buzz
43
44
FizzBuzz
46
47
Buzz
49
Buzz
Fizz
52
53
Fizz
55
Buzz
Fizz
Buzz
59
FizzBuzz
61
62
Fizz
Buzz
65
Buzz
67
68
Fizz
70
71
Buzz
73
Buzz
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
Buzz
83
Fizz
85
86
Fizz
Buzz
89
FizzBuzz
91
92
Fizz
94
95
Buzz
97
Buzz
Fizz
100

Exercise 3: You are given a list of tuples, where each tuple contains a student's name and their respective score. Your task is to iterate over the list, unpack each tuple into its name and score, and print the names of students who scored more than 70.

In [16]:
students_scores = [('John', 65), ('Emma', 85), ('Liam', 90), ('Sophia', 72), ('Olivia', 68)]
for(t1, t2) in students_scores:
    if t2 > 70:
        print(t1, t2)

Emma 85
Liam 90
Sophia 72

Exercise 4: You are given a dictionary that stores the prices of fruits. Your task is to iterate over the dictionary, unpacking the keys (fruit names) and values (their prices), and print each fruit name and its price in the format: "The price of [fruit] is [price] dollars."

fruit_prices = {'Apple': 3, 'Banana': 1, 'Orange': 2, 'Mango': 5, 'Grapes': 4}

The price of Apple is 3 dollars.

The price of Banana is 1 dollar.

The price of Orange is 2 dollars.

The price of Mango is 5 dollars.

The price of Grapes is 4 dollars.

In [21]:
fruit_prices = {'Appple':3, 'Banana':1, 'Orange':2, 'Mango':5, 'Grapes':4}
for fruit, price in fruit_prices.items():
    print(f"The price of {fruit} is {price} dollars")

The price of Appple is 3 dollars
The price of Banana is 1 dollars
The price of Orange is 2 dollars
The price of Mango is 5 dollars
The price of Grapes is 4 dollars

Exercise 5: You are given two lists, one containing the names of students and the other containing their corresponding grades. Your task is to use zip and enumerate to print out the index, name, and grade of each student in the format shown below:

students = ['John', 'Alice', 'Bob', 'Maria']
grades = [85, 92, 78, 90]

1. John has a grade of 85
2. Alice has a grade of 92
3. Bob has a grade of 78
4. Maria has a grade of 90

In [32]:
students = ['John', 'Alice', 'Maria']
grades = [ 85, 92, 78, 90 ]
zipped = zip(students, grades)
for index, (students, grades) in enumerate(zipped, start=1):
    print(f"{index}. {students} has a grade of {grades}")

1. John has a grade of 85
2. Alice has a grade of 92
3. Maria has a grade of 78

Exercise 6: Use a List Comprehension to create a list of the first letters of every word in the string below:

st = 'Create a list of the first letters of every word in this string'