### Creating an If Statement

In [1]:
# create a simple if statement
a = 5
b = 3
if a > b:
    a = 2
    b = 4
print(a)
print(b)

2
4

- Python gets rid of () & {} by incorporating a colon and whitespace. The statement ends with a colon and whitespace is used to show what takes place in case of the statement
- Semicolons are used to denote statement endings in many languages, but in Python, the end of a line is the same as the end of a statement
- Indentation is mandatory in Python

In [4]:
loc = 'Bank'
if loc == 'Auto shop':
    print('Welcome to the Auto Shop')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the bank!

### For looping a list

In [5]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

### Exercise 1: 
Use.split() and if statement to create a statement that will print out wors that start with 's'

In [8]:
st = 'Print only the words that start with s in this sentence'
list_of_words = st.split()
for word in list_of_words:
    if word[0] == 's':
        print(word)

start
s
sentence

### Printing only even numbers

In [9]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

### Exercise 2
Write a program that prints integers from 1 to 100. But for multiples But for multiples of three, print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five, print "FizzBuzz"

In [10]:
for number in range(1, 100):
    if number % 3 == 0 and number % 5 == 0:
        print("FizzBuzz")
    elif number % 3 == 0:
        print("Fizz")
    elif number %  5 == 0:
        print("Buzz")

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz

### Tuples have a special quality when it comes to for loops

In [12]:
list2 = [(2, 4), (6, 8), (10, 12)]
for tup in list2:
    print(tup)
for (t1, t2) in list2:
    print(t1)

(2, 4)
(6, 8)
(10, 12)
2
6
10

### Exercise 3
You're given a list of tuples, where each tuple contains a student's name and their respective score. Your task is to iterate over the list, unpack each tuple into its name and score, and print the names of students who got more than 70.

In [13]:
students_scores = [('John', 65), ('Emma', 85), ('Liam', 90), ('Sophia', 72), ('Olivia', 68)]
for name, score in students_scores:
    if score > 70:
        print(name, score)

Emma 85
Liam 90
Sophia 72

### Using a for loop to iterate through dictionaries

In [17]:
d  = {'k1':1, 'k2':2, 'k3':3}
for item in d:
    print(item)

print(list(d.keys()))
sorted(d.values())

k1
k2
k3
['k1', 'k2', 'k3']

[1, 2, 3]

### Exercise 4
You're given a dictionary that stores the prices of druits. Your task is to iterate over the dictionary, unpacking the keys and values, and print each fruit name and its price in this format: "The price of [ fruit ] is [ price ] dollars

In [21]:
fruit_prices = {'Apple':3, 'Banana':1, 'Orange':2, 'Mango':5, 'Grapes':4}
for fruit, price in fruit_prices.items():
    print("The price of", fruit, "is", price, "dollars")

The price of Apple is 3 dollars
The price of Banana is 1 dollars
The price of Orange is 2 dollars
The price of Mango is 5 dollars
The price of Grapes is 4 dollars

### Break, Continue & Pass
 - **Break**: breaks out of the current closest enclosing loop, which is the same between Java & Python 
 - **Continue**: goes to the top of the closes enclosing loop, which is the same between Java & Python
 - **Pass**: this does nothing at all, it's used as a placeholder where code is syntactically required but no action is needed

In [23]:
x = 0
while x < 10:
    print('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x = x + 1
    if x == 3:
        print('x == 3')
        break
    else:
        print('continuing')
        continue

x is currently:  0
x is still less than 10, adding 1 to x
continuing
x is currently:  1
x is still less than 10, adding 1 to x
continuing
x is currently:  2
x is still less than 10, adding 1 to x
x == 3

### Range
Range is a generator function

In [24]:
list(range(0, 11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

### Enumerate

In [27]:
index_count = 0
for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

## Zip

In [28]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [30]:
mylist1 = [1, 2, 3, 4, 5]
mylist2 = ['a', 'b', 'c', 'd', 'e']
zip(mylist1, mylist2)
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

### Exercise 5
You're given two lists, one which contains the names of students, and the other containing their respective grades. Use zip and enumerate to print out index, name, and grade of each student

In [4]:
students = ['John', 'Alice', 'Bob', 'Maria']
grades = [85, 92, 78, 90]
students_grades = list(zip(students, grades))
count = 1
for students, grades in students_grades:
    print(count, ".", students, " has a grade of ", grades)
    count = count + 1

1 . John  has a grade of  85
2 . Alice  has a grade of  92
3 . Bob  has a grade of  78
4 . Maria  has a grade of  90

### In, Not in, Random & Input

In [9]:
print('x' in ['x', 'y', 'z'])
print('x' in [1, 2, 3])
print('x' not in ['x', 'y', 'z'])
print('x' not in [1, 2, 3])

True
False
False
True

In [13]:
from random import shuffle
mylist = [1, 2, 3, 4, 5]
shuffle(mylist)
print(mylist)

[2, 4, 1, 3, 5]

In [14]:
from random import randint
number = randint(0, 100)
print(number)

97

In [15]:
name = input('Enter something into this box: ')
print(name)

Enter something into this box:  Hello

Hello

### List Comprehension

In [16]:
# grabbing every letter in string
lst = [x for x in 'word']
print(lst)

['w', 'o', 'r', 'd']

In [17]:
# square numbers in range and turn into list
lst = [x**2 for x in range(0, 11)]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
# check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]
print(lst)

[0, 2, 4, 6, 8, 10]

In [21]:
celsius = [0, 10, 20.1, 34.5]
farenheit = [((9/5) * temp + 32) for temp in celsius]
farenheit

[32.0, 50.0, 68.18, 94.1]

In [22]:
lst = [x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

### Exercise 6
Use a list comprehension to create a list of the first letters of every word in the string below

In [26]:
st = 'Create a list of the first letters of every word in this string'
lst = [x[0] for x in st.split()]
print(lst)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']