In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/MSOE Courses/2024/AI_Tools_24/Week4/sales_data.csv")

In [ ]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

## Calculate the average sales for each month. To do this, you'll need to group the data by MONTH_ID and then compute the mean of the SALES column for each group.

## Calculate the average sales for each month within each year. To do this, you'll need to group the data by both YEAR_ID and MONTH_ID, and then compute the mean of the SALES column for each combination of year and month.

### Group the data by MONTH_ID and then calculate two statistics for the SALES column within each group: 1)The mean of the sales.2)The sum of the sales. To achieve this, you'll use the aggregate function, which allows you to apply multiple aggregation functions at once.

##  Find out how many unique orders were placed in each month. To do this, you'll group the data by MONTH_ID and then calculate the number of unique order numbers within each group.

# Merging DataFrames

In [ ]:
orders = pd.DataFrame([[11, 2004, 100],
                       [14, 2005, 200],
                       [13, 2006, 75],
                       [11, 2007, 90]],
                       columns=['user_id', 'order_id', 'cost'])

clients = pd.DataFrame([[11, "Jane", "Milwaukee"],
                        [12, "John", "Chicago"],
                        [13,"Sara", "Los Angeles"],
                        [14, "Mike", "Austin"]],
                        columns=['userr_id', 'name', 'city'])

print("orders = \n{}\n\nclients =\n{}\n".format(orders, clients))

orders =
   user_id  order_id  cost
0       11      2004   100
1       14      2005   200
2       13      2006    75
3       11      2007    90

clients =
   userr_id  name         city
0        11  Jane    Milwaukee
1        12  John      Chicago
2        13  Sara  Los Angeles
3        14  Mike       Austin

In [ ]:
#vertical concatenation (useful when we want to concatenate data frames with common columns)
df1 = pd.DataFrame({'Col1': range(5), 'Col2': range(-5,0,1), 'Col3': range(14,19)}, index=range(5))
df2 = pd.DataFrame({'Col1': range(5), 'Col2': range(1,6), 'Col4': range(7,12)}, index=range(5,10))
print(df1,"\n\n", df2)

In [ ]:
#horizontal concatenation (useful when we want to concatenate data frames with common index)
df1 = pd.DataFrame({'Col1': range(5), 'Col2': range(-5,0,1), 'Col3': range(14,19)})
df2 = pd.DataFrame({'Col4': range(5), 'Col5': range(1,6), 'Col6': range(7,12)})
print(df1,"\n\n", df2)