In [ ]:
import pandas as pd

## 1. Use the pd.read_csv() function to read data from 'IMDB-Movie-Data.csv' file into a DataFrame. Specify 'Title' column to be used as the index of the DataFrame

In [ ]:
movies_df = pd.read_csv("/content/drive/MyDrive/MSOE Courses/2024/AI_Tools_24/Week4/IMDB-Movie-Data.csv", index_col="Title")

## 2. You want to rename the 'Runtime (Minutes)' column to 'Runtime' and the 'Revenue (Millions)' column to 'Revenue_millions'.How would you write the code to rename these columns in place (i.e., directly modify the existing DataFrame) and then display the updated list of column names to verify the changes?

In [ ]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime',
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


movies_df.columns

## 3. Imagine you want to standardize the column names in your movies_df DataFrame by converting all of them to lowercase. How would you write the code to modify the column names directly and then display the updated list of column names to ensure the changes were applied?

In [ ]:
movies_df.columns = [col.lower() for col in movies_df]

movies_df.columns

## 2. How would you write a line of code to display a concise summary of the DataFrame, including the number of entries, columns, data types, and memory usage?

In [ ]:
movies_df.info()

In [ ]:
movies_df.describe()

## Access 'genre' Column Using Single Brackets:

In [ ]:
genre_col = movies_df['genre']
type(genre_col)

## Access a Column Using Double Brackets:

In [ ]:
genre_col = movies_df[['genre']]
type(genre_col)

In [ ]:
genre_col

## To create a new DataFrame containing only 'Genre' and 'ratings'

In [ ]:
subset = movies_df[['genre', 'rating']]

In [ ]:
movies_df.columns

## In your movies_df DataFrame, the movie titles are used as the row index (e.g., "Prometheus") Write a line of code to select the row where the index name is "Prometheus" and assign it to a variable called prom.

In [ ]:
prom = movies_df.loc["Prometheus"]

type(prom)

## Unlike loc, which is used to select rows and columns by their label (index name), iloc is used to select rows and columns by their integer position in the DataFrame. Write a line of code to select the second row of the movies_df DataFrame (which is at position 1) and assign it to a variable called prom.

In [ ]:
prom = movies_df.iloc[1]

### To select a subset of rows from "Prometheus" to "Sing", both of which are index names in your DataFrame, use the loc method.

In [ ]:
movie_subset = movies_df.loc['Prometheus':'Sing']

### To select the rows corresponding to positions 1 through 3 (which is up to but not including position 4), use the iloc method.

In [ ]:
movie_subset = movies_df.iloc[1:4]

### In Pandas, you can filter rows in a DataFrame by applying a condition. This condition returns a boolean Series, which can then be used to index the DataFrame.Suppose you want to filter the DataFrame to show only the rows where the director column equals "Ridley Scott".Write a condition inside the square brackets [] to filter the DataFrame.

In [ ]:
movies_df[movies_df['director'] == "Ridley Scott"].head()

### Suppose you want to filter the DataFrame to show only the rows where the rating column is greater than or equal to 8.6.Write this condition inside square brackets [] to filter the DataFrame.

In [ ]:
movies_df[movies_df['rating'] >= 8.6].head(3)

### Suppose you want to filter the DataFrame to show only the rows where the director is either "Christopher Nolan" or "Ridley Scott". Combine these conditions inside the square brackets [] using the OR (|) operator.

In [ ]:
movies_df[(movies_df['director'] == 'Christopher Nolan') | (movies_df['director'] == 'Ridley Scott')].head()

### Suppose you want to filter the DataFrame to show only the rows where the director is either "Christopher Nolan" or "Ridley Scott".Use the isin() method to check if the director column's values are in the list ['Christopher Nolan', 'Ridley Scott'].

In [ ]:
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

### In Pandas, you can filter rows by combining multiple conditions using the AND (&) operator. When using multiple conditions, ensure each condition is enclosed in parentheses.

### Start by filtering the DataFrame to include only movies released between 2005 and 2010, inclusive. This condition will use the year column:

In [ ]:
(movies_df['year'] >= 2005) & (movies_df['year'] <= 2010)

### Add another condition to include only movies with a rating greater than 8.0

In [ ]:
(movies_df['year'] >= 2005) & (movies_df['year'] <= 2010)& (movies_df['rating'] > 8.0)

### Add a final condition to include only movies where the revenue_millions is less than the 25th percentile (first quartile) of all revenue_millions values. Use the quantile(0.25) method to calculate this:

In [ ]:
(movies_df['year'] >= 2005) & (movies_df['year'] <= 2010)& (movies_df['rating'] > 8.0)& (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))

### Combine these conditions inside the square brackets [] to filter the DataFrame:

In [ ]:
movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

### You will define a custom function that categorizes movie ratings as either "good" or "bad" based on the rating value. The function takes a single input x (a movie rating) and returns "good" if the rating is 8.0 or higher, and "bad" if it is lower.

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

### Use the .apply() method to apply rating_function to each value in the rating column of the DataFrame. The result will be a new column named rating_category, which will contain either "good" or "bad" based on the movie's rating:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

movies_df.head(3)

### Use the .apply() method to apply the lambda function directly to each value in the rating column. The result will be a new column named rating_category, which will contain either "good" or "bad" based on the movie's rating:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(lambda x: 'good' if x >= 8.0 else 'bad')

movies_df.head(3)

### A scatter plot is used to visualize the relationship between two numerical variables. In this case, you will create a scatter plot to examine the relationship between movie ratings and revenue.

In [ ]:
movies_df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating')

### Create a Histogram to examine the distribution of 'rating'

In [ ]:
movies_df['rating'].plot(kind='hist', title='Rating');

### Draw a boxplot to examine the distribution of 'rating'

In [ ]:
movies_df['rating'].plot(kind="box");

### The boxplot() method in Pandas allows you to create a boxplot for a specified column. You can group the data by another column to compare distributions across categories. Set column='revenue_millions' to plot the distribution of the revenue_millions column. Use the by argument to group the data by the rating_category column, which categorizes movies as "good" or "bad".

In [ ]:
movies_df.boxplot(column="revenue_millions", by="rating_category")